<?xml version="1.0"?>
<launch>
    <include file="$(find mavros)/launch/px4.launch"/>

	<node name="controller" pkg="controller" type="controller" output="screen" launch-prefix="screen">
		<rosparam file="$(find controller)/parameter.yaml"/>
        <remap from="/estimator/pose" to="/estimator/pose" />
        <remap from="/estimator/vel" to="/estimator/vel" />
        <remap from="/estimator/odometry" to="/vins_estimator/imu_propagate" />
        <remap from="/controller/qd" to="/desired_uav/qd"/>
		<remap from="/controller/xd" to="/desired_uav/xd"/>
		<remap from="/controller/dxd" to="/desired_uav/dxd"/>
		<remap from="/controller/ddxd" to="/desired_uav/ddxd"/>
		<remap from="/controller/dddxd" to="/desired_uav/dddxd"/>
	</node>

	<node name="desired_uav" pkg="desired_uav" type="desired_uav" output="screen" launch-prefix="screen" >
	    <rosparam file="$(find desired_uav)/parameter.yaml"/>
        <remap from="/estimator/odometry" to="/vins_estimator/imu_propagate" />
        <remap from="/estimator/init_pose" to="/vision_pose_adapter/init_pose" />
	</node>

    <arg name="config_path_vins" default = "$(find feature_tracker)/../config/ueye_mavros/ueye_mavros_config.yaml" />
    <arg name="vins_path" default = "$(find feature_tracker)/../config/../" />
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path_vins)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path_vins)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path_vins)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node>

    <node pkg="rosbag" type="record" name="rosbag_record_data"
        args="record -O /home/quad/vinsmono_result/data
        /mavros/imu/data_raw
        /camera/image_raw"
    />
    <node pkg="rosbag" type="record" name="rosbag_record_result_feature"
        args="record -O /home/quad/vinsmono_result/result_feature
        /feature_tracker/feature
        /feature_tracker/feature_img
        /feature_tracker/restart
        /fiducial_images"
    />
    <node pkg="rosbag" type="record" name="rosbag_record_result_data"
        args="record -O /home/quad/vinsmono_result/result_data
        /tf
        /tf_static 
        /controller/e
        /controller/m_hat
        /desired_uav/dxd
        /desired_uav/xd
        /desired_uav/qd
        /pose_graph/base_path
        /pose_graph/camera_pose_visual
        /pose_graph/key_odometrys
        /pose_graph/match_image
        /pose_graph/match_points
        /pose_graph/no_loop_path
        /pose_graph/path_1
        /pose_graph/path_2
        /pose_graph/path_3
        /pose_graph/path_4
        /pose_graph/path_5
        /pose_graph/path_6
        /pose_graph/path_7
        /pose_graph/path_8
        /pose_graph/path_9
        /pose_graph/pose_graph
        /pose_graph/pose_graph_path
        /vins_estimator/camera_pose
        /vins_estimator/camera_pose_visual
        /vins_estimator/extrinsic
        /vins_estimator/history_cloud
        /vins_estimator/imu_propagate
        /vins_estimator/key_poses
        /vins_estimator/keyframe_point
        /vins_estimator/keyframe_pose
        /vins_estimator/odometry
        /vins_estimator/path
        /vins_estimator/point_cloud
        /vins_estimator/relo_relative_pose
        /vins_estimator/relocalization_path

        /aruco/marker/pose_BM1
        /aruco/marker/pose_GM1
        /aruco/marker/pose_CM"
    />
</launch>
