<launch>

	<arg name="fcu_url" default="serial:///dev/ttyUSB0:921600" />
    <arg name="gcs_url" default="udp://:14550@127.0.0.1:14557" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />   	 

	<node name="mavros" pkg="mavros" type="mavros_node" output="screen" launch-prefix="screen">
		<param name="fcu_url" value="$(arg fcu_url)" />
        <param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)" /> 

		<param name="distance_sensor/px4flow/id" value="0" /> 
		<param name="distance_sensor/px4flow/frame_id" value="px4flow" /> 
		<param name="distance_sensor/px4flow/field_of_view" value="5" /> 
		
		<param name="conn_heartbeat" value="5.0" />
		<param name="conn_timeout" value="5.0" />
	</node>

	<node name="controller" pkg="controller" type="controller" output="screen" launch-prefix="screen">
		<rosparam file="$(find controller)/parameter.yaml"/>
        <remap from="/estimator/pose" to="/mavros/local_position/pose" />
        <remap from="/estimator/vel" to="/mavros/local_position/velocity" />
		<remap from="/controller/xd" to="/desired_uav/xd"/>
		<remap from="/controller/dxd" to="/desired_uav/dxd"/>
		<remap from="/controller/ddxd" to="/desired_uav/ddxd"/>
		<remap from="/controller/dddxd" to="/desired_uav/dddxd"/>
        <remap from="/controller/yaw_desired" to="/desired_uav/yaw_desired"/>
	</node>

	<node name="desired_uav" pkg="desired_uav" type="desired_uav" output="screen" launch-prefix="screen" >
	    <rosparam file="$(find desired_uav)/parameter.yaml"/>
        <remap from="/estimator/pose" to="/mavros/local_position/pose" />
        <remap from="/estimator/velocity" to="/mavros/local_position/velocity" />
        <remap from="/estimator/init_pose" to="/vision_pose_adapter/init_pose" />
	</node>

	<node name="vision_pose_adapter" pkg="vision_pose_adapter" type="vision_pose_adapter" output="screen" launch-prefix="screen">
		<rosparam file="$(find vision_pose_adapter)/parameter.yaml"/>
		<param name="vicon_use" value="0" />
		<param name="slam_use" value="1" />

        <remap from="/camera/camera_info" to="/usb_cam/camera_info"/>
        <remap from="/estimator/init_pose" to="/vision_pose_adapter/init_pose" />
        <remap from="/SLAM/pose" to="/ORB_SLAM/pose" />
	</node>

	<node pkg="usb_cam" type="usb_cam_node" name="usb_cam">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
	</node>

	<node name="frame_calibrator" pkg="frame_calibrator" type="frame_calibrator" output="screen"  launch-prefix="screen">
        <remap from="/SLAM/pose" to="/ORB_SLAM/pose" />
        <remap from="/estimator/pose" to="/mavros/local_position/pose" />
	</node>

	<node pkg="ORB_SLAM" type="ORB_SLAM" name="ORB_SLAM"  args="Data/ORBvoc.txt Data/Settings.yaml" cwd="node" output="screen">
        <remap from="/camera/image_raw" to="/usb_cam/image_raw" />
        <remap from="/estimator/pose" to="/mavros/local_position/pose" />
	</node>

	<node pkg="rosbag" type="record" name="record" output="screen" args="
        /mavros/local_position/pose
		-O /home/nuc/workspace/bag/px4_slam_flight"/>
</launch>
