<launch>
	<node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" >

		<param name="server" value="192.168.0.6" type="str" />
		<param name="port" value="801" type="str" />
		<param name="update_frequency" value="240.0"/>
		<param name="frame_id" value="world" type="str" />
		<param name="use_server_time" value="false" type="str" />
		<param name="broadcast_tf" value="true" type="str" />
		<param name="refresh_tracker_frequency" value="1.0"/>
		<param name="trackers" value="odar"/>
	</node>


	<node name="desired_uav" pkg="desired_uav" type="desired_uav_node" launch-prefix="screen" >
		<rosparam file="$(find desired_uav)/parameter.yaml"/>
	</node>	

	<node name="vision_pose_adapter" pkg="vision_pose_adapter" type="vision_pose_adapter" launch-prefix="screen" >
		<rosparam file="$(find vision_pose_adapter)/estimator_param.yaml"/>
		<param name="vicon_use" value="1" />
		<param name="slam_use" value="0" />
	</node>	


	<arg name="fcu_url" default="/dev/ttyUSB0:921600" />
	<arg name="gcs_url" default="udp://:14550@127.0.0.1:14557" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
	</include>

</launch>
